---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mealie-api
  labels:
    app.kubernetes.io/name: mealie-api
spec:
  revisionHistoryLimit: 3
  replicas: 1
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app.kubernetes.io/name: mealie-api
  template:
    metadata:
      labels:
        app.kubernetes.io/name: mealie-api
    spec:
      containers:
        - name: mealie-api
          image: "hkotel/mealie:api-v1.0.0beta-5"
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: "mealie-config"
          ports:
            - name: http
              containerPort: 9000
              protocol: TCP
          volumeMounts:
            - name: mealie-data
              mountPath: /app/data
      volumes:
        - name: mealie-data
          persistentVolumeClaim:
            claimName: mealie-data-pvc
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mealie-frontend
  labels:
    app.kubernetes.io/name: mealie-frontend
spec:
  revisionHistoryLimit: 3
  replicas: 1
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app.kubernetes.io/name: mealie-frontend
  template:
    metadata:
      labels:
        app.kubernetes.io/name: mealie-frontend
    spec:
      containers:
        - name: mealie-frontend
          image: "hkotel/mealie:frontend-v1.0.0beta-5"
          imagePullPolicy: Always
          env:
            - name: API_URL
              value: http://mealie-api:9000
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          volumeMounts:
            - name: mealie-data
              mountPath: /app/data
              readOnly: true
      volumes:
        - name: mealie-data
          persistentVolumeClaim:
            claimName: mealie-data-pvc
            readOnly: true
